<div class="container mt-5">
  <button class="btn btn-primary mr-5 mb-2" routerLink="/static">Static Table</button>
  <button class="btn btn-primary mr-5 mb-2" routerLink="/http">Table using http</button>
  <button class="btn btn-primary mr-5 mb-2" routerLink="/promise">Table using Promise</button>
  <button class="btn btn-primary mr-5 mb-2" routerLink="/httpDuplicate">Table using httpDuplicate</button>
  <button class="btn btn-primary mr-5 mb-2" routerLink="/apiMock">Table using MockApi</button>
  <button class="btn btn-primary mr-5 mb-2" routerLink="/jsonData">Json data show</button>
  <button class="btn btn-primary mr-5 mb-2" routerLink="/jsonDataServer">Json data Serve Side Sorting</button>


  
  <router-outlet></router-outlet>
</div>
